<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div ng-if="menu==='news'">
        <div class="side-title">
          <h5>NEWS&EVENTS</h5>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" ui-sref-active="active">
            <a ui-sref="ko.board.list({'articleType':'notice'})">공지사항</a>
          </li>
          <li role="presentation" ui-sref-active="active">
            <a ui-sref="ko.board.list({'articleType':'korea-sdsn'})">SDSN Korea 소식</a>
          </li>
          <li role="presentation" ui-sref-active="active">
            <a ui-sref="ko.board.list({'articleType':'un-sdsn'})">UN SDSN 소식</a>
          </li>
        </ul>
      </div>

      <div ng-if="menu==='resources'">
        <div class="side-title">
          <h5>RESOURCES</h5>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" ui-sref-active="active">
            <a ui-sref="ko.board.list({'articleType':'issue'})">연구 발간물</a>
          </li>
          <li role="presentation" ui-sref-active="active">
            <a ui-sref="ko.board.list({'articleType':'event-docs'})">행사 자료집</a>
          </li>
          <li role="presentation" ui-sref-active="active">
            <a ui-sref="ko.board.list({'articleType':'public'})">성명서</a>
          </li>
        </ul>
      </div>

      <div ng-include="'pages.ko/banner.html'">
      </div>

    </div>
    <div class="col-md-9">
      <div ui-view class="content"></div>
    </div>
  </div>

</div>
