<h2 class="heading"> {{ viewTitle }} <small> - 보기</small></h2>

<div class="row bottom-line">
    <div class="col-md-2"><strong>공지게시판 공유 </strong></div>
    <div class="col-md-10">
        <span class="badge" ng-style="{true: {background: 'green'}, false: {background: '#999'}}[item.share]">{{item.share ? '공유함' : '공유하지 않음'}}</span>
    </div>
</div>
<div class="row bottom-line">
    <div class="col-md-2"><strong>제목 </strong></div>
    <div class="col-md-10">{{item.title}}</div>
</div>
<div class="row bottom-line">
    <div class="col-md-2"><strong>작성일</strong></div>
    <div class="col-md-10">{{item.date | date :  "y.MM.dd"}}</div>
</div>
<div class="row bottom-line">
    <div class="col-md-2"><strong>내용 </strong></div>
    <!--<div class="col-md-10"><pre class="bg-white">{{item.content}}</pre></div>-->
    <div class="col-md-10">
        <div ng-bind-html="item.content | linky:'_blank'" style="white-space: pre-line; font-size: small; margin-top: 0px">
        </div>
    </div>

</div>
<div class="row bottom-line" ng-if="item.images.length">
    <div class="col-md-2"><strong>이미지</strong></div>
    <div class="col-md-10">
        <img ng-src="{{image.url}}" alt="" ng-repeat="image in item.images" style="width:80%; max-width:80%; height: auto; margin:10px 0px;">
    </div>
</div>
<div class="row bottom-line" ng-if="item.files.length">
    <div class="col-md-2"><strong>파일 </strong></div>
    <div class="col-md-10">
        <div ng-repeat="file in item.files"> {{ file.url }} - <a ng-href="{{ file.url }}" target="_blank">다운로드</a></div>
    </div>
</div>


<div class="text-right">
    <button class="btn btn-default" ng-click="goBack()">Back</button>
    <button class="btn btn-primary"
            ng-if="user.role === 'admin'"
            ui-sref="ko.board.edit( {'articleType':$stateParams.articleType, 'articleId':$stateParams.articleId })">수정
    </button>
    <button class="btn btn-danger"  ng-if="user.role === 'admin'" data-toggle="modal" data-target="#deleteModal">삭제</button>
</div>

<div disqus="id"></div>

<!--<dir-disqus config="disqusConfig"></dir-disqus>-->

<!--<dir-disqus disqus-shortname="'sdsnkorea'"-->
            <!--disqus-identifier="'notice'"-->
            <!--disqus-title="'NOTICE...공지사항'"-->
            <!--...>-->
<!--</dir-disqus>-->

<!--<div ng-if="$stateParams.articleType === 'notice'">-->
    <!--<dir-disqus config="disqusConfigNotice"></dir-disqus>-->
<!--</div>-->
<!--&lt;!&ndash;<dir-disqus disqus-shortname="sdsnkorea-notice"></dir-disqus>&ndash;&gt;-->

<!--<div ng-if="$stateParams.articleType === 'korea-sdsn'">-->
    <!--<dir-disqus config="disqusConfigKoreaSdsn" ></dir-disqus>-->
<!--</div>-->

<!--<hr>-->


<!--<div id="disqus_thread"></div>-->

<!--<div ng-if="$stateParams.articleType === 'notice'">-->
    <!--<script>-->

        <!--/**-->
         <!--*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
         <!--*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
        <!--/*-->
         <!--var disqus_config = function () {-->
         <!--this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
         <!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
         <!--};-->
         <!--*/-->
        <!--(function() { // DON'T EDIT BELOW THIS LINE-->
            <!--var d = document, s = d.createElement('script');-->
            <!--s.src = 'https://sdsnkorea-notice.disqus.com/embed.js';-->
            <!--s.setAttribute('data-timestamp', +new Date());-->
            <!--(d.head || d.body).appendChild(s);-->
        <!--})();-->
    <!--</script>-->
    <!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<!--</div>-->

<!--<div ng-if="$stateParams.articleType === 'korea-sdsn'">-->
    <!--<script>-->

        <!--/**-->
         <!--*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
         <!--*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
        <!--/*-->
         <!--var disqus_config = function () {-->
         <!--this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
         <!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
         <!--};-->
         <!--*/-->
        <!--(function() { // DON'T EDIT BELOW THIS LINE-->
            <!--var d = document, s = d.createElement('script');-->
            <!--s.src = 'https://sdsnkorea-koreainfo.disqus.com/embed.js';-->
            <!--s.setAttribute('data-timestamp', +new Date());-->
            <!--(d.head || d.body).appendChild(s);-->
        <!--})();-->
    <!--</script>-->
    <!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<!--</div>-->


<!--<div ng-if="$stateParams.articleType === 'un-sdsn'">-->
    <!--<script>-->

        <!--/**-->
         <!--*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
         <!--*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
        <!--/*-->
         <!--var disqus_config = function () {-->
         <!--this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
         <!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
         <!--};-->
         <!--*/-->
        <!--(function() { // DON'T EDIT BELOW THIS LINE-->
            <!--var d = document, s = d.createElement('script');-->
            <!--s.src = 'https://sdsnkorea-uninfo.disqus.com/embed.js';-->
            <!--s.setAttribute('data-timestamp', +new Date());-->
            <!--(d.head || d.body).appendChild(s);-->
        <!--})();-->
    <!--</script>-->
    <!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<!--</div>-->

<!--<div ng-if="$stateParams.articleType === 'un-sdsnaa'">-->
    <!--<script>-->

        <!--/**-->
         <!--*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.-->
         <!--*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/-->
        <!--/*-->
         <!--var disqus_config = function () {-->
         <!--this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable-->
         <!--this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable-->
         <!--};-->
         <!--*/-->
        <!--(function() { // DON'T EDIT BELOW THIS LINE-->
            <!--var d = document, s = d.createElement('script');-->
            <!--s.src = 'https://sdsnkorea-uninfo.disqus.com/embed.js';-->
            <!--s.setAttribute('data-timestamp', +new Date());-->
            <!--(d.head || d.body).appendChild(s);-->
        <!--})();-->
    <!--</script>-->
    <!--<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>-->
<!--</div>-->



<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">확인</h4>
            </div>
            <div class="modal-body">
                <h4>삭제하시겠습니까?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delete()">삭제</button>
            </div>

        </div>
    </div>
</div>