<div class="container">
    <!--SDSN Korea 소식, Notice-->
    <div class="row">
        <div class="col-md-8">
            <!--SDSN Korea 소식-->
            <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
                <div class="col-md-8" style="font-size: 30px">SDSN Korea 소식</div>
                <div class="col-md-4 text-right" style="margin-top: 20px;"><a
                        ui-sref="ko.board.list({'articleType':'korea-sdsn'})">+ 더보기</a></div>
            </div>
            <div style="height: 300px;">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" style="height:300px; overflow: hidden">
                        <!--<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">-->
                        <a ui-sref="ko.board.view({'articleType':'korea-sdsn', 'articleId': slide.sid})">
                            <img ng-src="{{slide.images[0].url}}"
                                 ui-sref="ko.board.view({'articleType':'korea-sdsn', 'articleId': slide.sid})"
                                 style="margin:auto; width:100%; height: auto;">
                        </a>
                    </div>
                </div>
                <div class="alert alert-warning m-t-20" ng-if="!slides.length">
                    <strong></strong> 데이터가 없습니다.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!--공지사항-->
            <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
                <div class="col-md-8" style="font-size: 30px">공지사항</div>
                <div class="col-md-4 text-right" style="margin-top: 20px;"><a
                        ui-sref="ko.board.list({'articleType':'notice'})">+ 더보기</a></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="item in notices"
                         style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 7px">
                        <a ui-sref="ko.board.view({'articleType':'notice', 'articleId': item.sid})">{{item.title}}</a>
                    </div>
                </div>
            </div>

            <div class="alert alert-warning m-t-20" ng-if="!notices.length">
                <strong></strong> 데이터가 없습니다.
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-4">
            <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
                <div class="col-md-8" style="font-size: 30px">연구발간물</div>
                <div class="col-md-4 text-right" style="margin-top: 20px;"><a ui-sref="ko.board.list({'articleType':'issue'})">+
                    더보기</a></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="item in issues"
                         style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 7px">
                        <a ui-sref="ko.board.view({'articleType':'notice', 'articleId': item.sid})">{{item.title}}</a>
                    </div>
                </div>
                <div class="alert alert-warning m-t-20" ng-if="!issues.length">
                    <strong></strong> 데이터가 없습니다.
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
                <div class="col-md-8" style="font-size: 30px">행사자료집</div>
                <div class="col-md-4 text-right" style="margin-top: 20px;"><a ui-sref="ko.board.list({'articleType':'event-docs'})">+
                    더보기</a></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="item in eventdocs"
                         style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 7px">
                        <a ui-sref="ko.board.view({'articleType':'notice', 'articleId': item.sid})">{{item.title}}</a>
                    </div>
                </div>
                <div class="alert alert-warning m-t-20" ng-if="!eventdocs.length">
                    <strong></strong> 데이터가 없습니다.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
                <div class="col-md-8" style="font-size: 30px">성명서</div>
                <div class="col-md-4 text-right" style="margin-top: 20px;"><a ui-sref="ko.board.list({'articleType':'public'})">+
                    더보기</a></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ng-repeat="item in publics"
                         style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-bottom: 7px">
                        <a ui-sref="ko.board.view({'articleType':'notice', 'articleId': item.sid})">{{item.title}}</a>
                    </div>
                </div>
                <div class="alert alert-warning m-t-20" ng-if="!publics.length">
                    <strong></strong> 데이터가 없습니다.
                </div>
            </div>
        </div>
    </div>



</div>

<!--유관기관 링크 Static-->
<div class="container">
    <div class='row'  style="margin-top: 30px; margin-bottom: 20px">
        <div class='col-md-12'>
            <div class="link-wrapper">
                <a class="site-link" href="http://www.unsdsn.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="UN SDSN">
                    <img class="logo"
                         src="images/logos/sdsn_logo_fc.png"
                         alt=""></a>
                <a class="site-link" href="https://sustainabledevelopment.un.org/" target="_blank" data-toggle="tooltip" data-placement="top" title=" UN Sustainable Development Knowledge Platform">
                    <img class="logo"
                         src="images/logos/sdsn_logo_fc.png"
                         alt=""></a>
                <a class="site-link" href="http://www.sd-network.eu/" target="_blank" data-toggle="tooltip" data-placement="top" title="ESDN">
                    <img class="logo"
                         src="images/logos/ESDN.gif"
                         alt=""></a>
                <a class="site-link" href="https://www.un.org/development/desa/en/" target="_blank" data-toggle="tooltip" data-placement="top" title="UN DESA">
                    <img class="logo"
                         src="images/logos/UNDESA.png"
                         alt=""></a>
                <a class="site-link" href="http://www.unescap.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="UNESCAP">
                    <img class="logo"
                         src="images/logos/ESCAP.png"
                         alt=""></a>
                <a class="site-link" href="http://www.oecd.org/greengrowth/ggsd-forum.htm" target="_blank" data-toggle="tooltip" data-placement="top" title="GGSD Forum">
                    <img class="logo"
                         src="images/logos/GGSD_OECD.png"
                         alt=""></a>
                <a class="site-link" href="http://web.unep.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="UNEP">
                    <img class="logo"
                         src="images/logos/UNEP.png"
                         alt=""></a>
                <a class="site-link" href="http://www.greengrowthknowledge.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="Green Growth Knowledge Platform">
                    <img class="logo"
                         src="images/logos/green_growth_knowledge_platform.png"
                         alt=""></a>
                <a class="site-link" href="http://gggi.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="GGGI">
                    <img class="logo"
                         src="images/logos/GGGI.png"
                         alt=""></a>
                <a class="site-link" href="http://www.unssc.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="UNSSC">
                    <img class="logo"
                         src="images/logos/unssc-logo.png"
                         alt=""></a>
                <a class="site-link" href="http://www.iddri.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="IDDRI">
                    <img class="logo"
                         src="images/logos/IDDRI.jpg"
                         alt=""></a>
                <a class="site-link" href="http://deepdecarbonization.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="DDPP">
                    <img class="logo"
                         src="images/logos/DDPP.png"
                         alt=""></a>
                <!--<a class="site-link" href="http://www.iddri.org/" target="_blank" data-toggle="tooltip" data-placement="top" title="IDDRI">-->
                    <!--<img class="logo"-->
                         <!--src="images/logos/IDDRI.jpg"-->
                         <!--alt=""></a>-->
                <a class="site-link" href="http://www.die-gdi.de/en/" target="_blank" data-toggle="tooltip" data-placement="top" title="DIE">
                    <img class="logo"
                         src="images/logos/DIE.jpg"
                         alt=""></a>
                <a class="site-link" href="http://kei.re.kr/aKor/main.kei" target="_blank" data-toggle="tooltip" data-placement="top" title="KEI">
                    <img class="logo"
                         src="images/logos/KEI.jpg"
                         alt=""></a>
            </div>
        </div>
    </div>
</div>

<!--유관기관 링크 Carousel-->
<!--<div class="container">-->
    <!--<div class='row'>-->
        <!--<div class='col-md-12'>-->
            <!--<div class="carousel slide media-carousel" id="media">-->
                <!--<div class="carousel-inner">-->
                    <!--<div class="item active">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.unsdsn.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/sdsn_logo_fc.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.unsdsn.org/" target="_blank">UN SDSN</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="https://sustainabledevelopment.un.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/sdsn_logo_fc.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="https://sustainabledevelopment.un.org/" target="_blank">UN Sustainable Development Knowledge Platform</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.sd-network.eu/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/ESDN.gif"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.sd-network.eu/" target="_blank">ESDN</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="https://www.un.org/development/desa/en/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/UNDESA.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="https://www.un.org/development/desa/en/" target="_blank">UN DESA</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.unescap.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/ESCAP.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.unescap.org/" target="_blank">UNESCAP</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.oecd.org/greengrowth/ggsd-forum.htm" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/GGSD_OECD.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.oecd.org/greengrowth/ggsd-forum.htm" target="_blank">GGSD Forum</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<div class="item">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://web.unep.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/UNEP.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://web.unep.org/" target="_blank">UNEP</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.greengrowthknowledge.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/green growth knowledge platform.jpg"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.greengrowthknowledge.org/" target="_blank">green growth knowledge platform</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://gggi.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/GGGI.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://gggi.org/" target="_blank">GGGI</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="item">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.unssc.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/unssc-logo.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.unssc.org/" target="_blank">UNSSC</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.iddri.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/IDDRI.jpg"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.iddri.org/" target="_blank">IDDRI</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://deepdecarbonization.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/DDPP.png"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://deepdecarbonization.org/" target="_blank">DDPP</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="item">-->
                        <!--<div class="row">-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.iddri.org/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/IDDRI.jpg"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.iddri.org/" target="_blank">IDDRI</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://www.die-gdi.de/en/" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/DIE.jpg"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://www.die-gdi.de/en/" target="_blank">DIE</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="item-wrapper">-->
                                    <!--<table class="item-table">-->
                                        <!--<tr>-->
                                            <!--<td class="image-cell">-->
                                                <!--<a href="http://kei.re.kr/aKor/main.kei" target="_blank">-->
                                                    <!--<img class="logo"-->
                                                         <!--src="images/logos/KEI.jpg"-->
                                                         <!--alt=""></a>-->
                                            <!--</td>-->
                                            <!--<td>-->
                                                <!--<a class="link" href="http://kei.re.kr/aKor/main.kei" target="_blank">KEI</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a data-slide="prev" href="#media" class="left carousel-control">‹</a>-->
                <!--<a data-slide="next" href="#media" class="right carousel-control">›</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
