<div class="container">
  <!--<div class="row bg-success">-->
    <!--<div class="bg-danger">BBB</div>-->
  <!--</div>-->
  <!--<div class="row bg-success">-->
    <!--<div class="col-md-8 bg-danger">이미지</div>-->
    <!--<div class="col-md-4 bg-success text-right">텍스트</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-md-8">
        <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
            <div class="col-lg-8" style="font-size: 30px">공지사항</div>
            <div class="col-lg-4 text-right" style="margin-top: 20px;"><a ui-sref="ko.board.list({'articleType':'notice'})">+ 더보기</a></div>
        </div>

        <!--<h2 class="heading">공지사항</h2>-->


        <div style="height: 300px; background-color: #002a80">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
          <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <!--<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">-->
            <a ui-sref="ko.board.view({'articleType':'notice', 'articleId': slide.sid})">
              <img ng-src="{{slide.images[0].url}}"
                   ui-sref="ko.board.view({'articleType':'notice', 'articleId': slide.sid})"
                   style="margin:auto; height: 300px;" >
            </a>
            <div class="carousel-caption">
              <h3>{{slide.title}}</h3>
              <!--<h4><a ui-sref="ko.board.view({'articleType':'notice', 'articleId': slide.sid})" style="color: #fff;">{{slide.title}}</a></h4>-->
            </div>
          </div>
        </div>
        <div class="alert alert-warning m-t-20" ng-if="!slides.length">
          <strong></strong> 데이터가 없습니다.
        </div>

      </div>

    </div>
    <div class="col-md-4">
      <!--<h2 class="heading">NEWS</h2>-->
        <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
            <div class="col-lg-8" style="font-size: 30px">NEWS</div>
            <div class="col-lg-4 text-right" style="margin-top: 20px;"><a ui-sref="ko.board.list({'articleType':'news'})">+ 더보기</a></div>
        </div>

      <div class="">
        <h4 class="list-bar" ng-repeat="item in news">
          <a ui-sref="ko.board.view({'articleType':'news', 'articleId': item.sid})">{{item.title}}</a>
        </h4>
        <!--<div class="text-right">-->
          <!--<h4><a ui-sref="ko.board.list({'articleType':'news'})">+ 더보기</a></h4>-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <!--<h2 class="heading">연구발간물</h2>-->
  <!--연구발간물 성명서 행사자료집 ui-sref="ko.board.list({'articleType':'issue'})"-->
    <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
        <div class="col-lg-8" style="font-size: 30px">연구발간물</div>
        <div class="col-lg-4 text-right" style="margin-top: 20px;"><a ui-sref="ko.board.list({'articleType':'issue'})">+ 더보기</a></div>
    </div>

  <div class="row">
    <div class="col-lg-3" ng-repeat="item in issues">
      <div class="card-container">
        <div class="image-container text-center">
          <!--<a ui-sref="ko.board.list({'articleType':'issue'})">-->
              <!--&lt;!&ndash;<img ng-src="{{item.images[0].url}}" class="img-responsive img-percent" />&ndash;&gt;-->
              <!--<img ng-src="{{item.images[0].url}}" style="height:180px;border:1px solid #ddd;" />-->
          <!--</a>-->
            <a ng-href="{{item.files[0].url}}" target="_blank" ><img ng-src="{{item.images[0].url}}" style="height:180px;border:1px solid #ddd;" /></a>
        </div>
      </div>
      <div>
        <a ng-href="{{item.files[0].url}}" target="_blank" >{{item.title}}</a>
        <!--<h3 class="title-text" data-ng-bind="item.title" data-ellipsis data-ellipsis data-ellipsis-separator=""></h3>-->
      </div>
    </div>
    <div class="alert alert-warning m-t-20" ng-if="!news.length">
      <strong></strong> 데이터가 없습니다.
    </div>
  </div>
  <!--<div class="text-right">-->
    <!--<h4><a ui-sref="ko.board.list({'articleType':'news'})">뉴스목록 보기</a></h4>-->
  <!--</div>-->



    <!--<h2 class="heading">성명서</h2>-->
    <!--연구발간물 성명서 행사자료집 ui-sref="ko.board.list({'articleType':'issue'})"-->
    <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
        <div class="col-lg-8" style="font-size: 30px">성명서</div>
        <div class="col-lg-4 text-right" style="margin-top: 20px;"><a ui-sref="ko.board.list({'articleType':'public'})">+ 더보기</a></div>
    </div>


    <div class="row">
        <div class="col-lg-6" ng-repeat="item in publics">
            <div class="card-container" style="margin-top: 10px;">
                <div>
                    <h4 style="padding-left: 10px;">{{item.title}}</h4>
                    <ul style="height: 80px; overflow: auto">
                        <li ng-repeat="file in item.files"><a ng-href="{{item.files[0].url}}" target="_blank" >{{file.url | filename}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="alert alert-warning m-t-20" ng-if="!news.length">
            <strong></strong> 데이터가 없습니다.
        </div>
    </div>


    <!--<h2 class="heading">행사자료집</h2>-->
    <!--연구발간물 성명서 행사자료집 ui-sref="ko.board.list({'articleType':'issue'})"-->
    <div class="row" style="color:#38ad5d; border-bottom: 2px solid #A2734F; margin:20px 0">
        <div class="col-lg-8" style="font-size: 30px">행사자료집</div>
        <div class="col-lg-4 text-right" style="margin-top: 20px;"><a ui-sref="ko.board.list({'articleType':'event-docs'})">+ 더보기</a></div>
    </div>

    <div class="row">
        <div class="col-lg-6" ng-repeat="item in eventdocs">
            <div class="card-container" style="margin-top: 10px;">
                <div>
                    <h4 style="padding-left: 10px;">{{item.title}}</h4>
                    <ul style="height: 80px; overflow: auto">
                        <li ng-repeat="file in item.files"><a ng-href="{{item.files[0].url}}" target="_blank" >{{file.url | filename}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="alert alert-warning m-t-20" ng-if="!news.length">
            <strong></strong> 데이터가 없습니다.
        </div>
    </div>

</div>



<!--<div class="container content">-->
  <!--<h2 class="heading">SDSN News & Events</h2>-->


  <!--<section id="content">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-lg-4" ng-repeat="item in items">-->
          <!--<div class="card-container">-->
            <!--<div class="image-container">-->
              <!--<img ng-src="images/{{item.image}}" class="img-responsive img-percent" />-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<h3 class="title-text" data-ng-bind="item.title" data-ellipsis></h3>-->
            <!--<p class="content-text" data-ng-bind="item.content" data-ellipsis></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->


  <!--<h2 class="heading">Resources</h2>-->
  <!--<section id="content">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-lg-3" ng-repeat="item in items">-->
          <!--<div class="card-container">-->
            <!--<div class="image-container">-->
              <!--<img ng-src="images/{{item.image}}" class="img-responsive img-percent" />-->
            <!--</div>-->
          <!--</div>-->
          <!--<div>-->
            <!--<h3 class="title-text" data-ng-bind="item.title" data-ellipsis></h3>-->
            <!--<p class="content-text" data-ng-bind="item.content" data-ellipsis></p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->

<!--</div>-->
<script type='text/javascript'>
//  $(document).ready(function() {
//    $('.carousel').carousel({
//      interval: 3000
//    })
//  });
</script>